In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Read individual CSV files 
Winter_file = "top10parks_winter.csv"
Spring_file = "top10parks_spring.csv"
Summer_file = "top10parks_summer.csv"
Fall_file = "top10parks_fall.csv" 
StatePopulation_file = "PopulationPerState.csv"
AgeRange_file = "Age_Percentage.csv"
visitors_file = "VisitationPerSeason.csv"
meanIncome_file = "MeanIncomeByAgeAndRace.csv"
medIncome_file = "MedianIncomeByAgeAndRace.csv"

/Users/David/miniconda3/envs/MrLapin/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
# Create individual Data Frame
Winter_df = pd.read_csv(Winter_file, keep_default_na=False, na_values=[""])
Spring_df = pd.read_csv(Spring_file, keep_default_na=False, na_values=[""])
Summer_df = pd.read_csv(Summer_file, keep_default_na=False, na_values=[""])
Fall_df = pd.read_csv(Fall_file, keep_default_na=False, na_values=[""])
StatePop_df = pd.read_csv(StatePopulation_file, keep_default_na=False, na_values=[""])
AgeRange_df = pd.read_csv(AgeRange_file, keep_default_na=False, na_values=[""])
Visitors_df = pd.read_csv(visitors_file, keep_default_na=False, na_values=[""])
meanInc_df = pd.read_csv(meanIncome_file, keep_default_na=False, na_values=[""])
medInc_df = pd.read_csv(medIncome_file, keep_default_na=False, na_values=[""])

In [3]:
# Winter Data Frame
Winter_df

,Park,Date of Review,"Rating 1,3,5,4",Total Number of Reviews,Aggregate,"State,USA only",Country,Age,Gender(M or F),"Relationship ,Married or Single",Occupation,Top Activity,Season
0,"Arches National Park, Utah","Dec 10,2017",5,36,4.90,Georgia,USA,NA,M,Married,NA,Delicate Arch Visit,winter
1,"Arches National Park, Utah","Feb 26,2017",5,36,4.90,Tennesse,USA,NA,M,Married,NA,Delicate Arch Visit,winter
2,"Arches National Park, Utah","Ja 23,2017",5,36,4.90,Virginia,USA,NA,F,Married,NA,Delicate Arch Visit,winter
3,"Arches National Park, Utah","Dec 3,2017",5,15,4.90,New York,USA,NA,M,Single,NA,Delicate Arch Visit,winter
4,"Arches National Park, Utah","Jan 23,2017",5,15,4.90,Idaho,USA,NA,M,Single,NA,Delicate Arch Visit,winter
5,"Mount Rainier Natioanl Park, Washington","Dec 29,2017",5,27,4.90,Minnesota,USA,NA,M,Married,NA,Mount Rainier,winter
6,"Mount Rainier Natioanl Park, Washington","Dec 7,2017",5,27,4.90,Iowa,USA,NA,F,Married,NA,Mount Rainier,winter
7,"Mount Rainier Natioanl Park, Washington","Feb 26,2017",5,27,4.90,Oregon,USA,NA,F,Married,NA,Mount Rainier,winter
8,"Mount Rainier Natioanl Park, Washington","Jan 15,2017",5,10,4.90,Florida,USA,NA,M,Single,NA,Mount Rainier,winter
9,"Mount Rainier Natioanl Park, Washington","Jan 5,2017",5,27,4.90,Massachusetts,USA,NA,M,Married,NA,Mount Rainier,winter
10,"Bryce Canyon National Park, Utah","Dec 26,2017",5,153,4.90,New jersey,USA,NA,F,Married,NA,Bryce Canyon National Park,winter
11,"Bryce Canyon National Park, Utah","Dec 26,2017",5,153,4.90,Texas,USA,NA,M,Married,NA,Bryce Canyon National Park,winter
12,"Bryce Canyon National Park, Utah","Dec 17,2017",5,153,4.90,Missouri,USA,NA,F,Married,NA,Bryce Canyon National Park,winter
13,"Bryce Canyon National Park, Utah","Dec 23,2017",5,21,4.90,pennsylvenia,USA,NA,M,Single,NA,Bryce Canyon National Park,winter
14,"Bryce Canyon National Park, Utah","Feb 15,2017",5,21,4.90,Florida,USA,NA,F,Single,NA,Bryce Canyon National Park,winter
15,"Yosemite National Park, California","Dec 17,2017",5,66,4.90,California,USA,NA,M,Married,NA,Glacier Point,winter
16,"Yosemite National Park, California","Feb 15,2017",5,66,4.90,Michigan,USA,NA,M,Married,NA,Glacier Point,winter
17,"Yosemite National Park, California","Jan 14,2017",5,66,4.90,California,USA,NA,M,Married,NA,Glacier Point,winter
18,"Yosemite National Park, California","jan 11,2017",5,14,4.90,Utah,USA,NA,F,Single,NA,Glacier Point,winter
19,"Yosemite National Park, California","Jan 4,2017",5,14,4.90,oregon,USA,NA,F,Single,NA,Glacier Point,winter
20,"Denali National Park, Alaska","Dec 31,2017",5,27,4.90,Tennesse,USA,NA,M,Married,NA,Denali,winter
21,"Denali National Park, Alaska","Dec 16,2017",5,27,4.90,Minnesota,USA,NA,M,Married,NA,Denali,winter
22,"Denali National Park, Alaska","Feb 13,2017",5,27,4.90,North Carolina,USA,NA,F,Married,NA,Denali,winter
23,"Denali National Park, Alaska","Jan 21,2017",5,27,4.90,Michigan,USA,Na,F,Married,NA,Denali,winter
24,"Denali National Park, Alaska","Jan 7,2017",5,27,4.90,Texas,USA,NA,M,Married,NA,Denali,winter
25,"Grand Canyon National Park, Arizona","Dec 30,2017",5,833,4.90,Texas,USA,NA,M,Married,NA,Grand Canyon South Rim,winter
26,"Grand Canyon National Park, Arizona","Dec 27,2017",5,833,4.90,Illinois,USA,NA,M,Married,NA,Grand Canyon South Rim,winter
27,"Grand Canyon National Park, Arizona","Dec 26,2017",5,833,4.90,Florida,USA,NA,F,Married,NA,Grand Canyon South Rim,winter
28,"Grand Canyon National Park, Arizona","Dec 10,2017",5,96,4.90,Florida,USA,NA,F,Single,NA,Grand Canyon South Rim,winter
29,"Grand Canyon National Park, Arizona","Dec 4,2017",5,96,4.90,Utah,USA,NA,M,Single,NA,Grand Canyon South Rim,winter
30,"Yellowstone National Park, Wyoming","Dec 18,2017",4,15,4.90,New York,USA,NA,M,Married,NA,Grand Canyon of the yellowstone,winter
31,"Yellowstone National Park, Wyoming","Feb 15,2017",5,86,4.90,Oregon,USA,NA,F,Married,NA,Grand Canyon of the yellowstone,winter
32,"Yellowstone National Park, Wyoming","Jan 26,2017",4,16,4.90,california,USA,NA,M,Married,NA,Grand Canyon of the yellowstone,winter
33,"Yellowstone National Park, Wyoming","Feb 23,2017",5,9,4.90,Idaho,USA,NA,M,Single,NA,Grand Canyon of the yellowstone,winter
34,"Yellowstone National Park, Wyoming","Feb 15,2017",5,86,4.90,New York,USA,NA,F,Married,NA,Grand Canyon of the yellowstone,winter
35,"Rocky Mountain National Park, Colorado","Dec 17,2017",5,34,4.90,Michigan,USA,NA,F,Married,NA,Trail Ridge Road,winter
36,"Rocky Mountain National Park, Colorado","Feb 13,2017",5,34,4.90,Minnesota,USA,NA,F,Married,NA,Trail Ridge Road,winter
37,"Rocky Mountain National Park, Colorado","Jan 4,2017",5,34,4.90,Florida,USA,NA,F,Married,NA,Trail Ridge Road,winter
38,"Rocky Mountain National Park, Colorado","Feb 14,2017",5,5,4.90,Colorado,USA,NA,M,Single,NA,Trail Ridge Road,winter
39,"Rocky Mountain National Park, Colorado","Jan 1,2017",5,34,4.90,california,USA,NA,F,Married,NA,Trail Ridge Road,winter
40,"Lassen Volcanic National Park, California","Feb 20,2017",5,5,4.90,ohio,USA,NA,M,Single,NA,Mount Lassen,winter
41,"Lassen Volcanic National Park, California","Dec 24,20155",5,5,4.99,California,USA,NA,F,Single,NA,Mount Lassen,winter
42,"Lassen Volcanic National Park, California","Dec 24,2014",5,5,4.99,California,USA,NA,F,Single,NA,Mount Lassen,winter
43,"Lassen Volcanic National Park, California","Feb 22,2014",3,5,2.99,Texas,USA,NA,M,Single,NA,Mount Lassen,winter
44,"Lassen Volcanic National Park, California","Feb 14,2014",5,5,4.99,California,USA,NA,M,Single,NA,Mount Lassen,winter
45,Zion National Park,"Feb 20,2016",5,41,4.99,North Carolina,USA,NA,F,Married,NA,Zion's Main Canyon,winter
46,Zion National Park,"Feb 10,2016",5,41,4.99,California,USA,NA,F,Married,NA,Zion's Main Canyon,winter
47,Zion National Park,Dec 12.2017,5,12,4.99,California,USA,NA,F,Single,NA,Zion's Main Canyon,winter
48,Zion National Park,"Feb 6,2016",5,12,4.99,Arizona,USA,NA,M,Single,NA,Zion's Main Canyon,winter
49,Zion National Park,"Feb 10,2018",5,12,4.99,Utah,USA,NA,F,Single,NA,Zion's Main Canyon,winter

In [4]:
# Spring Data Frame
Spring_df

,Park,Date of Review,"Rating 1,3,5,4",Total Number of Reviews,Aggregate,"State,USA only",Country,Age,Gender(M or F),"Relationship ,Married or Single",Occupation,Top Activity,Season
0,"Joshua Tree National Park, California","Apr 22,2017",5.00,44,4.99,NaN,USA,38,M,Married,Engg,Hidden Valley,Spring
1,"Joshua Tree National Park, California","Mar 29,2017",5.00,44,4.99,Missori,USA,38,M,Married,Engg,Hidden Valley,Spring
2,"Joshua Tree National Park, California","Mar 12,2017",5.00,44,4.99,California,USA,38,F,Married,Engg,Hidden Valley,Spring
3,"Joshua Tree National Park, California","May 12,2018",5.00,4,4.99,Utah,USA,38,M,Single,Engg,Hidden Valley,Spring
4,"Joshua Tree National Park, California","Apr 4,2017",5.00,4,4.99,Minnasota,USA,38,M,Single,Engg,Hidden Valley,Spring
5,"Grand Canyon National Park, Arizona","May 29,2017",5.00,306,4.99,North Carolina,USA,38,M,Married,Engg,Red Rock Scooter Tours,Spring
6,"Grand Canyon National Park, Arizona","May 23,2017",5.00,306,4.99,Pennsylvania,USA,38,M,Married,Engg,Red Rock Scooter Tours,Spring
7,"Grand Canyon National Park, Arizona","May 16,2017",5.00,306,4.99,Iowa,USA,38,F,Married,Engg,Red Rock Scooter Tours,Spring
8,"Grand Canyon National Park, Arizona","Apr 25,2017",5.00,47,4.99,Kansas,USA,38,F,Single,Engg,Red Rock Scooter Tours,Spring
9,"Grand Canyon National Park, Arizona","Apr 3,2017",5.00,47,4.99,Tennessee,USA,38,F,Single,Engg,Red Rock Scooter Tours,Spring
10,"Greaty Smoky Mountains National Park, North Ca...","May 30,2017",4.55,103,4.50,Texas,USA,38,M,Married,Engg,Roaring Fork Motor Trail,Spring
11,"Greaty Smoky Mountains National Park, North Ca...","May 24,2017",5.00,105,4.50,Georgia,USA,38,F,Married,Engg,Roaring Fork Motor Trail,Spring
12,"Greaty Smoky Mountains National Park, North Ca...","May 1,2017",5.00,105,4.50,Ohio,USA,38,F,Married,Engg,Roaring Fork Motor Trail,Spring
13,"Greaty Smoky Mountains National Park, North Ca...","Apr 26,2017",5.00,105,4.50,Louisiana,USA,38,F,Married,Engg,Roaring Fork Motor Trail,Spring
14,"Greaty Smoky Mountains National Park, North Ca...","May 4,2017",5.00,6,4.99,North Carolina,USA,38,M,Single,Engg,Roaring Fork Motor Trail,Spring
15,"Death Valley National Park, California","May 27,2017",5.00,138,4.99,Washington,USA,38,M,Married,Engg,Bad Water(Lowest pint in North America,Spring
16,"Death Valley National Park, California","Apr 29,2017",4.50,138,4.99,texas,USA,38,F,Married,Engg,Bad Water(Lowest pint in North America,Spring
17,"Death Valley National Park, California","Apr 26,2017",5.00,138,4.99,New Jersey,USA,38,M,Married,Engg,Bad Water(Lowest pint in North America,Spring
18,"Death Valley National Park, California","Apr 135,2017",5.00,13,4.99,Wyoming,USA,38,M,Single,Engg,Bad Water(Lowest pint in North America,Spring
19,"Death Valley National Park, California","May 29,2017",5.00,13,4.99,Pennsylvania,USA,38,F,Single,Engg,Bad Water(Lowest pint in North America,Spring
20,"Capitol Reef National Park, Utah","May 21,2017",5.00,100,4.99,California,USA,38,M,Married,Engg,Capitol Reef National Park,Spring
21,"Capitol Reef National Park, Utah","May 21,2017",5.00,100,4.99,Wisconsin,USA,38,F,Married,Engg,Capitol Reef National Park,Spring
22,"Capitol Reef National Park, Utah","May 15,2017",5.00,100,4.99,Indiana,USA,38,M,Married,Engg,Capitol Reef National Park,Spring
23,"Capitol Reef National Park, Utah","May 31,2017",5.00,14,4.99,California,USA,38,F,Single,Engg,Capitol Reef National Park,Spring
24,"Capitol Reef National Park, Utah","May 11,2017",5.00,14,4.99,California,USA,38,M,single,Engg,Capitol Reef National Park,Spring
25,"Yellowstone National Park, Wyoming","May 30,2017",5.00,39,4.99,Michigan,USA,38,F,Married,Engg,Yellowstone Lake,Spring
26,"Yellowstone National Park, Wyoming","May 29,2017",5.00,39,4.99,Georgia,USA,38,F,Married,Engg,Yellowstone Lake,Spring
27,"Yellowstone National Park, Wyoming","May 28,2017",5.00,39,4.99,Florida,USA,38,M,Married,Engg,Yellowstone Lake,Spring
28,"Yellowstone National Park, Wyoming","May 30,2017",3.00,4,2.99,South Carolina,USA,38,M,Married,Engg,Yellowstone Lake,Spring
29,"Yellowstone National Park, Wyoming","May 26,2017",5.00,39,4.99,Oregon,USA,38,F,Married,Engg,Yellowstone Lake,Spring
30,"Shenandoah National Park, Virginia","May 20,2017",5.00,136,4.99,Tennessee,USA,38,F,Married,Engg,Skyline Drive,Spring
31,"Shenandoah National Park, Virginia","May 14,2017",5.00,136,4.99,Virginia,USA,38,M,Married,Engg,Skyline Drive,Spring
32,"Shenandoah National Park, Virginia","May 12,2017",5.00,136,4.99,Texas,USA,38,F,Married,Engg,Skyline Drive,Spring
33,"Shenandoah National Park, Virginia","May 30,2017",5.00,20,4.99,Illinois,USA,38,F,Single,Engg,Skyline Drive,Spring
34,"Shenandoah National Park, Virginia","May 25,2017",5.00,20,4.99,Virginia,USA,38,F,Single,Engg,Skyline Drive,Spring
35,"Yosemite National Park, California","May 23,2017",5.00,472,4.99,California,USA,38,M,Married,Engg,Glacier Point,Spring
36,"Yosemite National Park, California","May 22,2017",5.00,472,4.99,North Carolina,USA,38,F,Married,Engg,Glacier Point,Spring
37,"Yosemite National Park, California","May 21,2017",5.00,472,4.99,California,USA,38,F,Married,Engg,Glacier Point,Spring
38,"Yosemite National Park, California","Mar 22,2017",5.00,79,4.99,New york,USA,38,M,Single,Engg,Glacier Point,Spring
39,"Yosemite National Park, California","Mar 7,2017",5.00,79,4.99,California,USA,38,M,Single,Engg,Glacier Point,Spring
40,"Saguaro National Park, Arizona","Mar 4,2018",5.00,70,4.99,Illinois,USA,38,F,Married,Engg,Saguaro National Park,Spring
41,"Saguaro National Park, Arizona","Mar 4,2018",5.00,70,4.99,California,USA,38,F,Married,Engg,Saguaro National Park,Spring
42,"Saguaro National Park, Arizona","Mar 5,2018",5.00,70,4.99,Massachusetts,USA,38,F,Married,Engg,Saguaro National Park,Spring
43,"Saguaro National Park, Arizona","Mar 12,2017",5.00,22,4.99,California,USA,38,M,Single,Engg,Saguaro National Park,Spring
44,"Saguaro National Park, Arizona","Apr 1,2017",5.00,22,4.99,New york,USA,38,M,Single,Engg,Saguaro National Park,Spring
45,"Big Bend National Park, Texas","May 29,2017",5.00,144,4.99,New Mexico,USA,38,F,Married,Engg,Big bend National Park,Spring
46,"Big Bend National Park, Texas","May 19,2017",5.00,144,4.99,Texas,USA,38,F,Married,Engg,Big bend National Park,Spring
47,"Big Bend National Park, Texas","May 2,2017",5.00,144,4.99,Texas,USA,38,M,Married,Engg,Big bend National Park,Spring
48,"Big Bend National Park, Texas","May 29,2017",5.00,58,4.99,Texas,USA,38,M,Single,Engg,Big bend National Park,Spring
49,"Big Bend National Park, Texas","Mar 12,2017",5.00,58,4.99,Texas,USA,38,M,Single,Engg,Big bend National Park,Spring

In [5]:
# Summer Data Frame
Summer_df

,Park,Date of Review,"Rating 1,3,5,4",Total Number of Reviews,Aggregate,"State,USA only",Country,Age,Gender(M or F),"Relationship ,Married or Single",Occupation,Top Activity,Season
0,Crater Lake National Park,"Aug 25,2017",5.0,"1,125",4.99,Washington,USA,38,M,Married,Engg,Crater Lake,Summer
1,Crater Lake National Park,"Aug 25,2017",5.0,"1,125","4,99",Texas,USA,38,F,Married,Engg,Crater Lake,Summer
2,Crater Lake National Park,"Aug 22,2017",5.0,"1,125",4.99,Oregon,USA,38,F,Married,Engg,Crater Lake,Summer
3,Crater Lake National Park,"july 12,2017",5.0,57,4.99,Massachsetts,USA,38,M,Single,Engg,Crater Lake,Summer
4,Crater Lake National Park,"July 8,2017",5.0,57,4.99,Tennesse,USA,38,M,Single,Engg,Crater Lake,Summer
5,"Acadia National Park, Maine","Aug 27,2017",5.0,546,4.99,Indiana,USA,38,M,Married,Engg,Cadillac Mountain,Summer
6,"Acadia National Park, Maine","Aug 24,2017",5.0,546,4.99,Indiana,USA,38,F,Married,Engg,Cadillac Mountain,Summer
7,"Acadia National Park, Maine","Aug 22,2017",5.0,546,4.99,West virginia,USA,38,F,Married,Engg,Cadillac Mountain,Summer
8,"Acadia National Park, Maine","july 7,2017",5.0,37,4.99,Pennsylvenia,USA,38,M,Single,Engg,Cadillac Mountain,Summer
9,"Acadia National Park, Maine","Jun 6,2017",5.0,37,4.99,Maryland,USA,38,M,Single,Engg,Cadillac Mountain,Summer
10,Kenai Fjords National Park,"Aug 4,2017",5.0,359,4.99,Ohio,USA,38,F,Married,Engg,Kenai Fjoyds,Summer
11,Kenai Fjords National Park,"Aug 17,2017",5.0,359,4.99,Florida,USA,38,F,Married,Engg,Kenai Fjoyds,Summer
12,Kenai Fjords National Park,"July 31,2017",5.0,359,4.99,Washington,USA,38,M,Married,Engg,Kenai Fjoyds,Summer
13,Kenai Fjords National Park,"july 13,2017",5.0,38,4.99,Massachsetts,USA,38,F,Single,Engg,Kenai Fjoyds,Summer
14,Kenai Fjords National Park,"jun21,2017",5.0,38,4.99,Arizona,USA,38,F,Single,Engg,Kenai Fjoyds,Summer
15,Sequoia National Park,"jun 30,2017",5.0,148,4.99,Indiana,USA,38,F,Married,Engg,Giant Forests,Summer
16,Sequoia National Park,"jun 30,2017",5.0,148,4.99,Mississppi,USA,38,F,Married,Engg,Giant Forests,Summer
17,Sequoia National Park,"Aug 15,2017",5.0,15,4.99,New Jersey,USA,38,F,Single,Engg,Giant Forests,Summer
18,Sequoia National Park,"july 5,2017",5.0,15,4.99,California,USA,38,M,Single,Engg,Giant Forests,Summer
19,Sequoia National Park,"jun 15,2017",5.0,148,4.99,kansas,USA,38,M,Married,Engg,Giant Forests,Summer
20,Kings Canyon National Park,"Aug 15,2017",5.0,148,4.99,Mississppi,USA,38,M,Married,Engg,Giant Forests,Summer
21,Kings Canyon National Park,"Aug 22,2017",5.0,148,4.99,california,USA,38,M,married,Engg,Giant Forests,Summer
22,Kings Canyon National Park,"Aug 16,2016",5.0,148,4.99,oregon,USA,38,M,Married,Engg,Giant Forests,Summer
23,Kings Canyon National Park,"Aug ,2017",5.0,15,4.99,New Jersey,USA,38,F,Single,Engg,Giant Forests,Summer
24,Kings Canyon National Park,"july 16,2017",5.0,15,4.99,Michigan,USA,38,M,Single,Engg,Giant Forests,Summer
25,"Shenandoah National Park, Virginia","july 30,2017",5.0,39,4.99,Ohio,USA,38,F,Married,Engg,Old Rag Mountain Hike,Summer
26,"Shenandoah National Park, Virginia","jun 11,2017",5.0,39,4.99,New Jersey,USA,38,F,Married,Engg,Old Rag Mountain Hike,Summer
27,"Shenandoah National Park, Virginia","Aug 12,2017",5.0,39,4.99,Maryland,USA,38,F,Married,Engg,Old Rag Mountain Hike,Summer
28,"Shenandoah National Park, Virginia","Aug 27,2017",5.0,30,4.99,virginia,USA,38,M,Single,Engg,Old Rag Mountain Hike,Summer
29,"Shenandoah National Park, Virginia","jun 1,2017",4.5,30,4.5,Louisiana,USA,38,M,Single,Engg,Old Rag Mountain Hike,Summer
30,"Grand Teton National Park, Wyoming","Aug 17,2017",5.0,342,4.99,Arizona,USA,38,F,Married,Engg,Grand Teton,Summer
31,"Grand Teton National Park, Wyoming","Aug 12,2017",4.5,342,4.5,New Jersey,USA,38,M,Married,Engg,Grand Teton,Summer
32,"Grand Teton National Park, Wyoming","Aug 5,2017",5.0,342,4.99,colorado,USA,38,F,Married,Engg,Grand Teton,Summer
33,"Grand Teton National Park, Wyoming","july 26,2017",5.0,342,4.99,connecticut,USA,38,M,Married,Engg,Grand Teton,Summer
34,"Grand Teton National Park, Wyoming","Aug 3,2016",3.0,31,4.99,florida,USA,38,M,Single,Engg,Grand Teton,Summer
35,Apostle Islands National Lakeshore,"Aug 21,2017",5.0,44,4.99,wisconsin,USA,38,M,Married,Engg,Apostle Isla,Summer
36,Apostle Islands National Lakeshore,"Aug 6,2017",5.0,44,4.99,Illinois,USA,38,M,Married,Engg,Apostle Isla,Summer
37,Apostle Islands National Lakeshore,"july 28,2017",3.0,44,2.99,ohio,USA,38,F,Married,Engg,Apostle Isla,Summer
38,Apostle Islands National Lakeshore,"Aug 28,2917",5.0,14,4.99,Minnessotta,USA,38,M,Single,Engg,Apostle Isla,Summer
39,Apostle Islands National Lakeshore,"jul 3,2017",5.0,14,4.99,Michigan,USA,38,F,Single,Engg,Apostle Isla,Summer
40,Zion National Park,"Aug 16,2017",5.0,340,4.99,New York,USA,38,M,married,Engg,Narrows,Summer
41,Zion National Park,"Aug 18,2017",5.0,340,4.99,Texas,USA,38,F,Married,Engg,Narrows,Summer
42,Zion National Park,"Aug 14,2017",5.0,340,4.99,california,USA,38,M,Married,Engg,Narrows,Summer
43,Zion National Park,"july 16,2017",5.0,194,4.99,georgia,USA,38,F,Single,Engg,Narrows,Summer
44,Zion National Park,"july 10,2017",5.0,194,4.99,Texas,USA,38,F,Single,Engg,Narrows,Summer
45,"Greaty Smoky Mountains National Park, North Ca...","Aug 14,2017",5.0,306,4.99,Michigan,USA,38,F,Married,Engg,Cades cove,Summer
46,"Greaty Smoky Mountains National Park, North Ca...","Aug 12,2017",5.0,306,4.99,North Carolina,USA,38,F,Married,Engg,Cades cove,Summer
47,"Greaty Smoky Mountains National Park, North Ca...","Aug 10,2017",5.0,306,4.99,Michigan,USA,38,F,Married,Engg,Cades cove,Summer
48,"Greaty Smoky Mountains National Park, North Ca...","Jun 27,2017",5.0,116,4.99,New Hampshire,USA,38,M,Single,Engg,Cades cove,Summer
49,"Greaty Smoky Mountains National Park, North Ca...","jun 19,2017",5.0,116,4.99,North Carolina,USA,38,M,Single,Engg,Cades cove,Summer

In [6]:
# Fall Data Frame
Fall_df

,Park,Date of Review,"Rating 1,3,5,4",Total Number of Reviews,Aggregate,"State,USA only",Country,Age,Gender(M or F),"Relationship ,Married or Single",Occupation,Top Activity,Season
0,"Acadia National Park, Maine",Nov 25 2017,5,451,4.9,Indiana,USA,38,M,Married,Engg,Cadillac Mountain Climb,Fall
1,"Acadia National Park, Maine","Nov 20,2017",5,451,4.9,Maine,USA,38,M,Married,Engg,Cadillac Mountain Climb,Fall
2,"Acadia National Park, Maine","Nov 6,2017",4,451,4.9,New York,USA,38,F,Married,Engg,Cadillac Mountain Climb,Fall
3,"Acadia National Park, Maine","Oct 4,2017",5,22,4.9,Pennsylvenia,USA,38,F,Single,Engg,Cadillac Mountain Climb,Fall
4,"Acadia National Park, Maine","Oct 23,2017",5,22,4.9,Kentucky,USA,38,M,Single,Engg,Cadillac Mountain Climb,Fall
5,"Shenandoah National Park, Virginia","Oct 23,2017",5,20,4.9,California,USA,38,F,Married,Engg,Old Rag Mountain Hike,Fall
6,"Shenandoah National Park, Virginia","Oct 1,2017",5,20,4.9,California,USA,38,F,Married,Engg,Old Rag Mountain Hike,Fall
7,"Shenandoah National Park, Virginia","Oct 17,2017",3,1,2.9,Iowa,USA,38,M,Single,Engg,Old Rag Mountain Hike,Fall
8,"Shenandoah National Park, Virginia","Sep 25,2017",5,3,4.9,Nebraska,USA,38,M,Single,Engg,Old Rag Mountain Hike,Fall
9,"Shenandoah National Park, Virginia","Nov 25,2017",5,20,4.9,Virginia,USA,38,M,Married,Engg,Old Rag Mountain Hike,Fall
10,"Cuyahoga Valley National Park, Ohio","Nov 27,2017",5,31,4.9,Florida,USA,38,F,married,Engg,Cuyahoga Valley National Park,Fall
11,"Cuyahoga Valley National Park, Ohio","Oct 2,2017",3,7,2.9,pennsylvenia,USA,38,F,married,Engg,Cuyahoga Valley National Park,Fall
12,"Cuyahoga Valley National Park, Ohio","Nov 9,2017",5,5,4.9,Ohio,USA,38,F,Single,Engg,Cuyahoga Valley National Park,Fall
13,"Cuyahoga Valley National Park, Ohio","Oct 23,2017",5,31,4.9,Ohio,USA,38,F,Married,Engg,Cuyahoga Valley National Park,Fall
14,"Cuyahoga Valley National Park, Ohio","Oct 9,2017",5,31,4.9,Minnesota,USA,38,M,Married,Engg,Cuyahoga Valley National Park,Fall
15,"Guadalupe Mountains National Park, Texas","Sep 8,2017",5,10,4.9,Texas,USA,38,F,Married,Engg,Guadalupe Park,Fall
16,"Guadalupe Mountains National Park, Texas","Nov 10,2017",5,10,4.9,Borbonnais,USA,38,M,Married,Engg,Guadalupe Park,Fall
17,"Guadalupe Mountains National Park, Texas","Nov 9,2017",5,8,4.9,Midland,USA,38,M,Single,Engg,Guadalupe Park,Fall
18,"Guadalupe Mountains National Park, Texas","Oct 25,2017",5,8,4.9,Texas,USA,38,F,Single,Engg,Guadalupe Park,Fall
19,"Guadalupe Mountains National Park, Texas","Oct 12,2017",5,8,4.9,Texas,USA,38,M,SIngle,Engg,Guadalupe Park,Fall
20,"Rocky Mountain National Park, Colorado","Nov 17,2017",5,321,4.9,Illinois,USA,38,F,Married,Engg,Trail Ridge Road Scenic Drive,Fall
21,"Rocky Mountain National Park, Colorado","Oct 23,2017",5,321,4.9,Texas,USA,38,F,Married,Engg,Trail Ridge Road Scenic Drive,Fall
22,"Rocky Mountain National Park, Colorado","Sep 23,2017",5,371,4.9,New York,USA,38,M,Married,Engg,Trail Ridge Road Scenic Drive,Fall
23,"Rocky Mountain National Park, Colorado","Nov 2,2017",5,30,4.9,Pennsylvenia,USA,38,M,Single,Engg,Trail Ridge Road Scenic Drive,Fall
24,"Rocky Mountain National Park, Colorado","Sep 30,2017",5,30,4.9,Missouri,USA,38,M,Single,Engg,Trail Ridge Road Scenic Drive,Fall
25,"Grand Canyon National Park, Arizona","Nov 14,2017",5,226,4.9,Florida,USA,38,F,Married,Engg,Grand Canyon North Rim,Fall
26,"Grand Canyon National Park, Arizona","Nov 10,2017",5,226,4.9,Florida,USA,38,M,Married,Engg,Grand Canyon North Rim,Fall
27,"Grand Canyon National Park, Arizona","No 2,2017",5,226,4.9,South Carolina,USA,38,M,Married,Engg,Grand Canyon North Rim,Fall
28,"Grand Canyon National Park, Arizona","OCT 16,2017",5,22,4.9,California,USA,38,F,SIngle,Engg,Grand Canyon North Rim,Fall
29,"Grand Canyon National Park, Arizona","OCT 6,2017",5,22,4.9,Arizona,USA,38,F,Single,Engg,Grand Canyon North Rim,Fall
30,"Yellowstone National Park, Wyoming","Nov 14,2017",5,125,4.9,Georgia,USA,38,M,Married,Engg,Artist Point,Fall
31,"Yellowstone National Park, Wyoming","Oct 25,2017",5,125,4.9,California,USA,38,M,Married,Engg,Artist Point,Fall
32,"Yellowstone National Park, Wyoming","Oct 7,2017",5,125,4.9,Florida,USA,38,M,Married,Engg,Artist Point,Fall
33,"Yellowstone National Park, Wyoming","Sep 28,2017",4,10,4.0,Wiscnsin,USA,38,F,Single,Engg,Artist Point,Fall
34,"Yellowstone National Park, Wyoming","Sep 6,2017",4,10,4.0,California,USA,38,M,Single,Engg,Artist Point,Fall
35,"Yosemite National Park, California","oct 26,2017",5,54,4.9,Michigan,USA,38,M,Married,Engg,Mist Trail,Fall
36,"Yosemite National Park, California","Oct 18,2017",5,54,4.9,wiscnsin,USA,38,M,Married,Engg,Mist Trail,Fall
37,"Yosemite National Park, California","Oct 11,2017",5,54,4.9,Michigan,USA,38,M,Married,Engg,Mist Trail,Fall
38,"Yosemite National Park, California","Oct 2,2017",5,54,4.9,California,USA,38,F,Married,Engg,Mist Trail,Fall
39,"Yosemite National Park, California","Sep 12,2017",5,54,4.9,california,USA,38,M,Married,Engg,Mist Trail,Fall
40,"Olympic National Park, Washington","Nov 26,2017",5,136,4.9,Texas,USA,38,F,Married,Engg,Hurricane Ridge,Fall
41,"Olympic National Park, Washington","Oct 27,2017",5,136,4.9,kansas,USA,38,M,Married,Engg,Hurricane Ridge,Fall
42,"Olympic National Park, Washington","Oct 22,2017",5,136,4.9,virginia,USA,38,F,Married,Engg,Hurricane Ridge,Fall
43,"Olympic National Park, Washington","Oct 15,2017",5,11,4.9,Georgia,USA,38,F,Single,Engg,Hurricane Ridge,Fall
44,"Olympic National Park, Washington","Sep 23,2017",5,11,4.9,washington,USA,38,F,Single,Engg,Hurricane Ridge,Fall
45,"Denali National Park, Alaska","Nov 9,2017",5,47,4.9,South Carolina,USA,38,F,Married,Engg,Denali ATV Adventues,Fall
46,"Denali National Park, Alaska","Sep 11,1017",5,47,4.9,California,USA,38,F,Married,Engg,Denali ATV Adventues,Fall
47,"Denali National Park, Alaska","Sep 10,2017",5,47,4.9,Maine,USA,38,M,Married,Engg,Denali ATV Adventues,Fall
48,"Denali National Park, Alaska","Sep 16,2017",5,9,4.9,NA,USA,38,F,Single,Engg,Denali ATV Adventues,Fall
49,"Denali National Park, Alaska","Sep 9,2017",5,9,4.9,NA,USA,38,M,Single,Engg,Denali ATV Adventues,Fall
50,"Mammoth Cave National Park,Kentucky","Nov 11,2017",5,169,4.9,Georgia,USA,38,F,Married,Engg,Mammoth Cave National Park,Fall
51,"Mammoth Cave National Park,Kentucky","Nov 9,2017",5,169,4.9,Alaska,USA,38,M,Married,Engg,Mammoth Cave National Park,Fall
52,"Mammoth Cave National Park,Kentucky","Oct 24,2017",5,169,4.9,Florida,USA,38,F,Married,Engg,Mammoth Cave National Park,Fall
53,"Mammoth Cave National Park,Kentucky","Oct 4,2017",5,21,4.9,Missouri,USA,38,M,Single,Engg,Mammoth Cave National Park,Fall
54,"Mammoth Cave National Park,Kentucky","Oct 26,2017",3,5,2.9,california,USA,38,F,Single,Engg,Mammoth Cave National Park,Fall

In [7]:
StatePop_df

             State  Population
0            Maine     1336000
1         Virginia     8175000
2             Ohio    11469000
3            Texas    27677000
4         Colorado     5509000
5          Arizona     6890000
6          Wyoming      572000
7       California    39500000
8       Washington     7406000
9           Alaska      739795
10  North Carolina    10270000
11            Utah     3102000
12          Oregon     4143000
13       Wisconsin     5795000
14        Kentucky     4454000

In [8]:
plt.pie(
    StatePop_df["Population"],
    labels=StatePop_df['States'],
    startangle=90
    shadow=False
    colors = []
)

SyntaxError: invalid syntax (<ipython-input-8-e34bf60097bc>, line 5)

In [9]:
# AGE Groups
AgeRange_df

,Park,State,21to30,31to40,41to50,51to60,61to70,70orOlder
0,Acadia,Maine,8.00%,11.00%,20.00%,19.00%,11.00%,2.00%
1,Shenandoah,Virginia,9.00%,17.00%,20.00%,16.00%,9.00%,4.00%
2,Cuyahoga Valley,Ohio,9.00%,12.00%,14.00%,21.00%,18.00%,6.00%
3,Guadalupe,Texas,9.00%,17.00%,20.00%,16.00%,9.00%,4.00%
4,Rocky Mountain,Colorado,8.00%,11.00%,17.00%,18.00%,17.00%,5.00%
5,Grand Canyon,Arizona,8.00%,11.00%,17.00%,18.00%,17.00%,5.00%
6,Yellowstone,Wyoming,6.00%,11.00%,19.00%,16.00%,13.00%,5.00%
7,Yosemite,California,11.00%,16.00%,16.00%,19.00%,12.00%,4.00%
8,Olympic,Washington,12.00%,15.00%,20.00%,17.00%,9.00%,3.00%
9,Denali,Alaska,6.00%,6.00%,17.00%,26.00%,26.00%,10.00%
10,Joshua Tree,California,14.00%,17.00%,15.00%,16.00%,19.00%,6.00%
11,Greaty Smoky Mountains,North Carolina,6.00%,13.00%,19.00%,17.00%,12.00%,5.00%
12,Death Valley,California,15.00%,17.00%,19.00%,17.00%,19.00%,6.00%
13,Capitol Reef,Utah,11.00%,10.00%,14.00%,32.00%,24.00%,7.00%
14,Saguaro,Arizona,6.00%,6.00%,17.00%,26.00%,26.00%,10.00%
15,Big Bend,Texas,6.00%,6.00%,17.00%,26.00%,26.00%,10.00%
16,Crater Lake,Oregon,12.00%,15.00%,20.00%,17.00%,9.00%,3.00%
17,Kenai Fjords,Alaska,6.00%,6.00%,17.00%,26.00%,26.00%,10.00%
18,Sequoia,California,14.00%,12.00%,19.00%,16.00%,9.00%,3.00%
19,Kings Canyon,California,14.00%,12.00%,19.00%,16.00%,9.00%,3.00%
20,Grand Teton,Wyoming,7.00%,10.00%,18.00%,21.00%,15.00%,5.00%
21,Apostle Islands,Wisconsin,10.00%,13.00%,26.00%,25.00%,9.00%,2.00%
22,Zion,Utah,10.00%,11.00%,22.00%,15.00%,8.00%,2.00%
23,Mammoth Cave,Kentucky,6.00%,15.00%,21.00%,14.00%,7.00%,2.00%
24,Arches,Utah,14.00%,18.00%,19.00%,15.00%,8.00%,3.00%
25,Mount Rainier,Washington,7.00%,12.00%,20.00%,25.00%,8.00%,3.00%
26,Bryce Canyon,Utah,9.00%,10.00%,21.00%,16.00%,9.00%,4.00%
27,Lassen Volcanic,California,12.00%,12.00%,16.00%,22.00%,16.00%,4.00%

In [10]:
Visitors_df

,Park,Winter,Spring,Summer,Fall,Total,Unnamed: 6,Unnamed: 7
0,Acadia,15096.0,54212.0,264288.0,157764.0,491360.0,NaN,NaN
1,Apostle Islands,2839.0,5779.0,24752.0,12170.0,45540.0,NaN,NaN
2,Arches,43100.0,172387.0,202429.0,151742.0,569658.0,NaN,NaN
3,Big Bend,41600.0,56583.0,21896.0,35669.0,155748.0,NaN,NaN
4,Bryce Canyon,41795.0,158701.0,245418.0,177327.0,623241.0,NaN,NaN
5,Capitol Reef,39577.0,270641.0,259080.0,217466.0,786764.0,NaN,NaN
6,Crater Lake,4883.0,24468.0,201731.0,54512.0,285594.0,NaN,NaN
7,Death Valley,79836.0,99269.0,124506.0,107237.0,410848.0,NaN,NaN
8,Grand Canyon,271322.0,537160.0,657787.0,501213.0,1967482.0,NaN,NaN
9,Grand Teton,318205.0,484160.0,1642717.0,762411.0,3207493.0,NaN,NaN
10,Great Smoky Mountains,3074401.0,2727294.0,3534925.0,4539863.0,13876483.0,NaN,NaN
11,Guadalupe Mountains,21631.0,36588.0,18826.0,21687.0,98732.0,NaN,NaN
12,Joshua Tree,220449.0,275422.0,107437.0,178859.0,782167.0,NaN,NaN
13,Kenai Fjords,0.0,4806.0,44912.0,8076.0,57794.0,NaN,NaN
14,Kings Canyon,21556.0,48458.0,121431.0,62998.0,254443.0,NaN,NaN
15,Lassen Volcanic,8684.0,17630.0,119634.0,54710.0,200658.0,NaN,NaN
16,Mount Rainier,32095.0,85301.0,539982.0,231668.0,889046.0,NaN,NaN
17,Olympic,123952.0,280318.0,557783.0,257392.0,1219445.0,NaN,NaN
18,Rocky Mountain,90279.0,182488.0,763554.0,404973.0,1441294.0,NaN,NaN
19,Saguaro,904969.0,888437.0,745084.0,778869.0,3317359.0,NaN,NaN
20,Sequoia,46587.0,102948.0,200704.0,104590.0,454829.0,NaN,NaN
21,Shenandoah,43538.0,133008.0,216878.0,217344.0,610768.0,NaN,NaN
22,Yellowstone,160420.0,405543.0,1500447.0,590027.0,2656437.0,NaN,NaN
23,Yosemite,172375.0,395534.0,800951.0,520111.0,1888971.0,NaN,NaN
24,Zion,185554.0,463766.0,482898.0,402714.0,1534932.0,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
meanInc_df

,Unnamed: 0,25to34,35to44,45to54,55to64,65to74,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,White,"$80,566","$100,665","$108,728","$95,341","$76,181",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Black,"$52,284","$67,422","$74,413","$58,428","$45,854",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hispanic,"$63,812","$68,578","$77,593","$73,369","$55,698",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
medInc_df

  Unnamed: 0    25to34    35to44    45to54    55to64    65to74  Unnamed: 6
0      White  $65,083   $77,937   $82,021   $69,065   $52,039          NaN
1      Black  $39,176   $49,336   $50,103   $40,363   $28,697          NaN
2   Hispanic  $44,486   $50,245   $58,103   $51,996   $36,704          NaN

In [ ]:
# This is a very important step, DO NOT SKIP .
Second_df_to_append = Spring_df.reset_index()
Second_df_set2_append = Fall_df.reset_index()

In [ ]:
# concatinate two Data frames . DO vertical Stacking . Make sure the columns are same . 
NPS_WintSpri_df = pd.concat([Winter_df,Second_df_to_append ], axis=0)
NPS_SumFal_df = pd.concat([Summer_df,Second_df_set2_append ], axis=0)

In [ ]:
NPS_WintSpri_df

In [ ]:
NPS_SumFal_df