In [205]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Read individual CSV files 
national_parks_usa_WINTER_to_load = "/Users/bunni/Desktop/national_parks/parks/csv_dir/top10parks_by_Winter_1.csv"
national_parks_usa_SPRING_to_load = "/Users/bunni/Desktop/national_parks/parks/csv_dir/top10parks_by-season_spring_1.csv"
national_parks_usa_SUMMER_to_load = "/Users/bunni/Desktop/national_parks/parks/csv_dir/top10parks_by-season_summer_1.csv"
national_parks_usa_FALL_to_load = "/Users/bunni/Desktop/national_parks/parks/csv_dir/top10parks_by_Fall_1.csv" 
StatePopulation_file = "/Users/bunni/Desktop/national_parks/parks/csv_dir_correct/PopulationPerState.csv"
AgeRange_file = "/Users/bunni/Desktop/national_parks/parks/csv_dir_correct/Age_Percentage.csv"
visitors_file = "/Users/bunni/Desktop/national_parks/parks/csv_dir_correct/VisitationPerSeason.csv"
meanIncome_file = "/Users/bunni/Desktop/national_parks/parks/csv_dir_correct/MeanIncomeByAgeAndRace.csv"
medIncome_file = "/Users/bunni/Desktop/national_parks/parks/csv_dir_correct/MedianIncomeByAgeAndRace.csv"
States_tallied_Merged_visitors_file = "/Users/bunni/Desktop/national_parks/parks/csv_dir_correct/States_tallied_Merged_visitors.csv"

# Create individual Data Frame
national_parks_usa_WINTER = pd.read_csv(national_parks_usa_WINTER_to_load,keep_default_na=False, na_values=[""])
national_parks_usa_SPRING = pd.read_csv(national_parks_usa_SPRING_to_load,keep_default_na=False, na_values=[""])
national_parks_usa_SUMMER = pd.read_csv(national_parks_usa_SUMMER_to_load,keep_default_na=False, na_values=[""])
national_parks_usa_FALL = pd.read_csv(national_parks_usa_FALL_to_load,keep_default_na=False, na_values=[""])
StatePop_df = pd.read_csv(StatePopulation_file, keep_default_na=False, na_values=[""])
AgeRange_df = pd.read_csv(AgeRange_file, keep_default_na=False, na_values=[""])
Visitors_df = pd.read_csv(visitors_file, keep_default_na=False, na_values=[""])
meanInc_df = pd.read_csv(meanIncome_file, keep_default_na=False, na_values=[""])
medInc_df = pd.read_csv(medIncome_file, keep_default_na=False, na_values=[""])
States_tallied_Merged_visitors_df = pd.read_csv(States_tallied_Merged_visitors_file, keep_default_na=False, na_values=[""])

# This is a very important step, DO NOT SKIP .
Second_df_to_append = national_parks_usa_SPRING.reset_index()
Second_df_set2_append = national_parks_usa_FALL.reset_index()

In [179]:
#print (Visitors_df.head(3))
Visitors_df.shape
Visitors_df = Visitors_df.rename(columns={'Total':'Winter'})
print (Visitors_df.head(3))

              Park      State  Spring  Summer    Fall  Winter
0           Acadia      Maine   54212  264288  157764  491360
1  Apostle Islands  Wisconsin    5779   24752   12170   45540
2           Arches       Utah  172387  202429  151742  569658

In [211]:
#print (States_tallied_Merged_visitors_df.head(5))
States_tallied_Merged_visitors_df.columns
States_tallied_Merged_visitors_df.head(5)

,Unnamed: 0,Park,State,Spring,Summer,Fall,Winter,State_p,Population
0,0,Acadia,Maine,54212,264288,157764,491360,Maine,1336000
1,1,Apostle Islands,Wisconsin,5779,24752,12170,45540,Wisconsin,5795000
2,2,Arches,Utah,172387,202429,151742,569658,Utah,3102000
3,3,Big Bend,Texas,56583,21896,35669,155748,Texas,27677000
4,4,Bryce Canyon,Utah,158701,245418,177327,623241,Utah,3102000

In [96]:
# # concatinate two Data frames . DO vertical Stacking . Make sure the columns are same . 
# Winter_Spring_Parks_collections_df = pd.concat([national_parks_usa_WINTER,Second_df_to_append ], axis=0)
# Summer_Fall_Parks_collections_df = pd.concat([national_parks_usa_SUMMER,Second_df_set2_append ], axis=0)

In [221]:
States_tallied_Merged_visitors_df.describe()
States_tallied_Merged_visitors_summed_df = States_tallied_Merged_visitors_df.groupby('Park').sum()
States_tallied_Merged_visitors_summed_df.to_csv('States_tallied_Merged_visitors_summed.csv')

In [223]:
Top_3parks_winter_df = (States_tallied_Merged_visitors_summed_df.sort_values(by='Winter', ascending=False)).head(3)

In [231]:
Top_3parks_Spring_df = (States_tallied_Merged_visitors_summed_df.sort_values(by='Spring', ascending=False)).head(3)

In [233]:
Top_3parks_Summer_df = (States_tallied_Merged_visitors_summed_df.sort_values(by='Summer', ascending=False)).head(3)

In [237]:
Top_3parks_Fall_df = (States_tallied_Merged_visitors_summed_df.sort_values(by='Fall', ascending=False)).head(3)

In [238]:
Top_3parks_winter_df.to_csv('Top_3parks_winter.csv')
Top_3parks_Spring_df.to_csv('Top_3parks_Spring.csv')
Top_3parks_Summer_df.to_csv('Top_3parks_Summer.csv')
Top_3parks_Fall_df.to_csv('Top_3parks_Fall.csv')

In [235]:
Top_3parks_winter_df
#Bottom_3parks_winter_df = mmed_df.sort_values(by='Winter', ascending=True)).head(3)
Bottom_3parks_Spring_df = (States_tallied_Merged_visitors_summed_df.sort_values(by='Spring',ascending=True)).head(3)
Bottom_3parks_Summer_df = (States_tallied_Merged_visitors_summed_df.sort_values(by='Summer',ascending=True)).head(3)

In [239]:
Bottom_3parks_Fall_df = (States_tallied_Merged_visitors_summed_df.sort_values(by='Fall',ascending=True)).head(3)

In [216]:
# # I am merging StatePop and Visitordfs
# #pd.merge(Visitors_df,StatePop_df,
# new_concat_visitor_pop_df = pd.concat([Visitors_df,StatePop_df],axis=1)
# new_concat_visitor_pop_df

In [240]:
Bottom_3parks_winter_df
#Bottom_3parks_winter_df.to_csv('Bottom_3parks_winter.csv')
Bottom_3parks_Spring_df.to_csv('Bottom_3parks_Spring.csv')
Bottom_3parks_Summer_df.to_csv('Bottom_3parks_Summer.csv')
Bottom_3parks_Fall_df.to_csv('Bottom_3parks_Fall.csv')

In [183]:
# # this is for Jen to get the csv read in ####
# new_concat_visitor_pop_df.to_csv('example.csv')
# #Summer_Fall_Parks_collections_df

In [202]:
# I m going to use the visitor df to get some analysis 
Visitors_df.head(10)
Visitors_df.groupby(['State','Winter']).sum()
Visitors_df_Winter_winner_df = Visitors_df.groupby(['State','Winter']).sum() 
Visitors_df_Winter_winner_df
#Visitors_df.groupby(['State','Winter']).mean()
Visitors_df_Winter_winner_df.to_csv('visitors_winner_winter.csv')
Visitors_df_Spring_winner_df = Visitors_df.groupby(['State','Spring']).sum() 
Visitors_df_Spring_winner_df.to_csv('Visitors_df_Spring_winner_Spring.csv')
Visitors_df.groupby(['State','Summer']).sum()
Visitors_df_Summer_winner_df = Visitors_df.groupby(['State','Summer']).sum()
Visitors_df_Summer_winner_df.to_csv('Visitors_winner_Summer.csv')
Visitors_df_Fall_winner_df = Visitors_df.groupby(['State','Fall']).sum()
Visitors_df_Fall_winner_df.to_csv('Visitors_winner_Fall.csv')

In [94]:
## We drop the Occupation column and Age columns  column 
#dropped_df = Summer_Fall_Parks_collections_df.drop(['Occupation'],axis=1)

In [100]:
#dropped_df = dropped_df.drop(['Age'],axis=1)

In [102]:
#dropped_df.shape

(105, 12)

In [103]:
#set the name as the index
#new_frame_with_park = dropped_df.set_index('Park')
#new_frame_with_park.head(5)
#new_frame_with_park.rename(columns={'Relationship ,Married /
#                                                    or Single':'Relationship'}).head(2)
#new_frame_with_park['State,USA only'] 
#new_frame_with_park.groupby([['Total Number of Reviews']